header {
    background-color: #212242;
    box-shadow: 0 5px 5px #888888;
}

h1.header__title {
    color: #ffffff;
}

.g-signin2 {
    margin-top: 15px;
}

.signin {
    margin-top: 15px;
}

.signout-btn {
    margin-top: 15px;
}

.categories {
    border-right: 1px solid #ccc;
    height: 100vh;
}

.latest-items {
    height: 100vh;
}